# josie's linux-TkG config file

_distro="Gentoo"
_version=""
_git_mirror="kernel.org"
_kernel_work_folder=""
_kernel_source_folder=""
CUSTOM_LLVM_PATH=""
_force_all_threads="true"
_noccache="false"
_kernel_on_diet="false"
_modprobeddb="true"
_modprobeddb_db_path=~/.config/modprobed.db
_menunconfig="2"
_diffconfig="false"
_diffconfig_name=""
_configfile=""
_config_updating="olddefconfig"
_debugdisable="true"
_STRIP="true"
_cpusched="bore"
_compiler="llvm"
_libunwind_replace=""
_llvm_ias="1"
_llvm_polly="1"
_lto_mode="full"
_preempt_rt=""
_preempt_rt_force=""
_sched_yield_type=""
_rr_interval=""
_ftracedisable="true"
_numadisable="true"
_misc_adds="true"
_tickless="2"
_acs_override="false"
_glitched_base="true"
_zenify="true"
_compileroptlevel="2"
_processor_opt="alderlake"
_smt_nice=""
_bore_min_base_slice_ns="2000000"
_random_trust_cpu="true"
_timer_freq="1000"
_default_cpu_gov="powersave"
_aggressive_ondemand="true"
_tcp_cong_alg=""
_custom_commandline="intel_pstate=active preempt=full "
_clear_patches="true"
_gentoo_init="script"
_vanilla=""
_offline=""
_custom_pkgbase=""
_kernel_localversion=""
_NR_CPUS_value="16"
_install_after_building="yes"
_logging_use_script="yes"
KCFLAGS=""
KCPPFLAGS=""
KRUSTFLAGS="target-cpu=native"
_openrgb="false"
_fsync_backport="true"
_fsync_legacy="true"
_fsync_futex2="false"
_zfsfix="true"
_runqueue_sharing=""
_irq_threading="false"
_mglru="true"
_ntsync="false"
_community_patches=""
_user_patches="true"
_user_patches_no_confirm="false"
_config_fragments="true"
_config_fragments_no_confirm="false"
